Django==5.0
django-environ==0.11.2
pandas==2.2.0
numpy==1.26.2
scikit-learn==1.4.0
python-decouple==3.8
pillow
tensorflow>=2.18.0
torch>=2.5.1
transformers==4.36.2
plotly==5.18.0
streamlit==1.29.0
django-crispy-forms==2.1
django-allauth==0.59.0
django-storages==1.14.2
django-cleanup==8.0.0
python-dotenv==1.0.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
